src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd">
    <apikit:config name="api-config" api="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="HTTPS_Listener_config" doc:name="HTTP Listener config" doc:id="700c025c-a164-498c-b7e0-2c04fa8152a4">
        <http:listener-connection protocol="HTTPS" host="0.0.0.0" port="8082">
            <tls:context>
                <tls:key-store type="jks" path="keystore.jks" alias="mule" keyPassword="password" password="password" />
            </tls:context>
        </http:listener-connection>
    </http:listener-config>
    <file:config name="File_Config" doc:name="File Config" doc:id="91e7e098-14d1-43b8-9f74-cf34e6bbba96" />
    <flow name="api-main">
        <http:listener config-ref="HTTPS_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="HTTPS_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\oas\generate:multipart\form-data:api-config">
        <logger level="INFO" message="post:\oas\generate:multipart\form-data:api-config" />
		<file:write doc:name="Write" doc:id="11b76518-9a8d-49a5-84a3-20ca186d659e" config-ref="File_Config" path="#[p('app.home') ++ &quot;/file.yaml&quot;]">
                    <file:content><![CDATA[#[payload.parts.inputFile.content]]]></file:content>
                </file:write>
		<java:invoke-static doc:name="Generate WSDL from OAS" doc:id="37aac3a6-20fb-4c11-ae90-7b1b3ba8e514" class="com.dejim.WSDLGeneratorWrapper" method="generateWSDL(java.lang.String,java.lang.String,java.lang.String)">
            <java:args><![CDATA[#[output application/java
---
{
	arg0: p('app.home'),
	arg1: p('app.home') ++ "/file.yaml",
	arg2: p('app.home')
}]]]></java:args>
        </java:invoke-static>
		<set-variable value="#[%dw 2.0&#xA;import * from dw::core::Binaries &#xA;output application/java &#xA;--- &#xA;(vars.outboundHeaders default {}) ++ {&quot;Content-Disposition&quot;:&quot;attachment; filename=service.wsdl&quot;, &quot;Content-Type&quot;:&quot;application/octet-stream&quot;}]" doc:name="Set Variable" doc:id="01899a7a-6761-46ef-9bf8-d31f6326c0ee" variableName="outboundHeaders" />
		<file:read doc:name="Read" doc:id="aca72de0-e75b-4d42-9965-c13fda2fa184" path="#[p('app.home') ++ &quot;/service.wsdl&quot;]" outputMimeType="application/octet-stream" />
    
    </flow>
    <flow name="post:\raml\generate:multipart\form-data:api-config">
        <logger level="INFO" message="post:\raml\generate:multipart\form-data:api-config" />
		<choice doc:name="Choice" doc:id="131bf194-c67b-4db0-99c7-c34998067f32" >
			<when expression="#[payload.parts.&quot;inputFile&quot;.headers.&quot;Content-Type&quot; == 'application/zip']">
				<logger level="INFO" doc:name="Logger" doc:id="0472abd6-d7b5-4e58-88ba-1b72e24c88d3" />
				<compression:extract doc:name="Extract" doc:id="247d88d2-9419-47b9-8741-6aabfefe333a">
                    <compression:compressed><![CDATA[#[payload.parts.'inputFile'.content]]]></compression:compressed>
                    <compression:extractor>
                        <compression:zip-extractor />
                    </compression:extractor>
                </compression:extract>
				<foreach doc:name="For Each" doc:id="6c769f0d-f1df-4761-a6e8-c8dadf9ed1b8" collection="#[output application/java --- dw::Core::entriesOf(payload)]">
                    <choice doc:name="Choice" doc:id="46149622-d49d-428f-8dba-e76b10095fb1">
                        <when expression="#[sizeOf(payload[1]) &gt; 0]">
                            <file:write doc:name="Write" config-ref="File_Config" path="#[p('app.home') ++ &quot;/output/&quot; ++ payload[0]]">
                                <file:content><![CDATA[#[output application/java 
---
payload[1]]]]></file:content>
                            </file:write>
                        </when>
                        <otherwise>
                            <logger level="INFO" doc:name="Logger" doc:id="fed267e2-2446-4da7-8c25-a90b67cc9119" message="#[&quot;Directory: &quot; ++ payload[0]]" />
                        </otherwise>
                    </choice>
                </foreach>
				<file:read doc:name="Read" doc:id="12d883cc-01da-4439-8ebb-9aa61e1f609f" path="#[p('app.home') ++ &quot;/output/exchange.json&quot;]" />
				<set-variable value='#[output application/java&#10;---&#10;"/output/" ++ payload.main]' doc:name="Set Variable" doc:id="59d2ea5c-c194-479f-9339-9a4b4da8ce57" variableName="fileName" />
			</when>
			<when expression="#[payload.parts.&quot;inputFile&quot;.headers.&quot;Content-Type&quot; == 'application/raml+yaml']">
				<logger level="INFO" doc:name="Logger" doc:id="79b2965f-50b7-40b8-a936-9c8c47980768" />
				<file:write doc:name="Write" doc:id="675a5c60-2b39-449f-af29-d205cb098fa0" config-ref="File_Config" path="#[p('app.home') ++ &quot;/file.raml&quot;]">
                    <file:content><![CDATA[#[payload.parts.inputFile.content]]]></file:content>
                </file:write>
				<set-variable value='#["/file.raml"]' doc:name="Set Variable" doc:id="537f5148-a554-46b4-8afd-48f2772310f8" variableName="fileName" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="92462ad2-7c19-4918-a212-e7ad67743c34" />
			</otherwise>
		</choice>
		<java:invoke-static doc:name="Generate OAS File" doc:id="d7297d55-1b2b-4910-9624-6fcd5649a4e4" class="com.dejim.RAMLUtilities" method="generateOAS(java.lang.String,java.lang.String)">
                    <java:args><![CDATA[#[output application/java
---
{
	arg0: p('app.home') ++ vars.fileName,
	arg1: p('app.home') ++ "/file.yaml"
}]]]></java:args>
                </java:invoke-static>
                <java:invoke-static doc:name="Delete Uncompressed RAML" doc:id="7a104dae-114c-48cc-808a-ff30c94395db" class="com.dejim.RAMLUtilities" method="deleteRAMLFolder(java.lang.String)">
                    <java:args><![CDATA[#[output application/java
---
{
	arg0: p('app.home') ++ "/output"
}]]]></java:args>
                </java:invoke-static>
		<java:invoke-static doc:name="Generate WSDL from OAS" doc:id="bdeb2201-2ff3-4b8e-8f95-facc0d3ee685" class="com.dejim.WSDLGeneratorWrapper" method="generateWSDL(java.lang.String,java.lang.String,java.lang.String)">
            <java:args><![CDATA[#[output application/java
---
{
	arg0: p('app.home'),
	arg1: p('app.home') ++ "/file.yaml",
	arg2: p('app.home')
}]]]></java:args>
        </java:invoke-static>
		<set-variable value="#[%dw 2.0&#xA;import * from dw::core::Binaries &#xA;output application/java &#xA;--- &#xA;(vars.outboundHeaders default {}) ++ {&quot;Content-Disposition&quot;:&quot;attachment; filename=service.wsdl&quot;, &quot;Content-Type&quot;:&quot;application/octet-stream&quot;}]" doc:name="Set Variable" doc:id="8f550d10-e8ec-417e-839e-d45b9985f837" variableName="outboundHeaders" />
		<file:read doc:name="Read" doc:id="1a9c6f8e-1eb6-4cd5-9827-c85cf13ccfb8" path="#[p('app.home') ++ &quot;/service.wsdl&quot;]" outputMimeType="application/octet-stream" />
    </flow>
</mule>
